# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist
.turbo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env*.local

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem

# IDE
.vscode
.idea

# Supabase
.supabase

